body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}

.navbar > * {
  margin: 5px;
}

form div {
  margin: 1em;
  display: inline-block;
}
